<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChatManager.Properties.Settings>
            <setting name="LogLevel" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveLastColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenLastColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutosaveInterval" serializeAs="String">
                <value>1</value>
            </setting>
        </ChatManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ChatManager.Properties.Settings>
            <setting name="SettingsVersion" serializeAs="String">
                <value>1</value>
            </setting>
        </ChatManager.Properties.Settings>
    </applicationSettings>
</configuration>